/* main */
* {
    margin: 0;

}

.settings {
    padding: 14%;


}

/* changesettings */

.changesettings {
    box-shadow: 0px 1px 10px #12111172;
    margin-top: -14%;
    border-radius: 5px;
}

.titlesettings h2 {
    color: #2B8000;
}


/* buttons to save changes */
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.toggle-sound {
    position: relative;
    display: inline-block;
    width: stretch;
    display: flex;
    justify-content: right;
}

.toggle-vibration {
    position: relative;
    display: inline-block;
    width: stretch;
    display: flex;
    justify-content: right;
}

